{% extends "base.html" %}

{% block title %}Werk{% endblock %}

{% block content %}
    <section class="eight columns maincontent">
        <h2>Werk</h2>
        <p>
            <a href="#">Normaten</a>
        </p>
        <ul>
            <li>
                <a href="#">
                    Bl.XX
                </a>
            </li>
            <li>
                <a href="#">
                    Bl.XX-YY
                </a>
            </li>
            <li>
                <a href="#">
                    Bl.ZZ
                </a>
            </li>
        </ul>
    </section>
    <section class="four columns sidebar">
        <h3>GND BEACON</h3>
        <ul>
            <li>
                <a href="#">
                    Externes Informationsangebot 1
                </a>
            </li>
            <li>
                <a href="#">
                    Externes Informationsangebot 2
                </a>
            </li>
            <li>
                <a href="#">
                    Externes Informationsangebot 3
                </a>
            </li>
        </ul>
    </section>
{% endblock %}